.footer{

     &__title{
        margin-top: 0%;
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.5rem;
    }
    
    &__list{
        padding: 40px 40px 40px 40px;
        line-height: 2rem;
        margin: 0%;
    }

    &__contact{
        color:$color-white;
    }
   
}