header{
    @include center
}

h1{
    @include center;
    flex-flow: flex wrap;
}

button{
    font-size: 1rem;
}

footer{
    background-color: $color-footer;
    color: $color-white;
    list-style: none;
}